# Node & Bun
node_modules/
bun.lockb

# Build output
dist/
drizzle/
public/output.css

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor folders
.vscode/
.idea/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-level files
*.swp
